.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
  }
  @keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #0b70bd;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #3498db;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #0456c8;
    }
  }
  .ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
  }

  

#centenedor_carga,#centenedor_carga:after, #centenedor_carga:before, #carga:after, #carga:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#centenedor_carga{
    background-color: rgba(250,240,245,0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #f4266a;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{ transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}